@media (max-width: 950px) {
    .container {
        max-width: 100%;
        max-width: 950px;
    }
    body.lock {
        overflow: hidden;
    }
    .header{
        background: #000;
    }
    .header__link {
        font-size: 20px;
    }
    .header__list {
        display: block;
        & li {
            margin: 0 0 30px 0;
        }
    }
    .header__body {
        height: 50px;
    }
    .changepic{
        margin-left: -20px;
    }
    .header__logo {
        flex: 0 0 40px;
    }
    .header__menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 60%;
        height: 100%;
        overflow: auto;
        background-color: rgb(49, 134, 57);
        padding: 70px 10px 0 10px;
        transition: all 0.3s ease 0s;

        &.active {
            left: 0;
        }
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;

        & span {
            position: absolute;
            background-color: #fff;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease 0s;
        }
        &::before,
        &::after {
            content: "";
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        &.active:before {
            transform: rotate(45deg);
            top: 9px;
        }
        &.active:after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
        &.active span {
            transform: scale(0);
        }
    }
}
